<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="path" value="D:\webdav" />
    <add key="host" value="localhost" />
    <add key="port" value="52442" />
    <add key="user" value="PerfectXL" />
    <add key="password" value="gHDuXbGeh6qML5c9jTTFplVNMxQGV/ZTrjhG0TEUxjg=" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>